// SPACINGS
$XL_SPACING: 30px;
$L_SPACING: 20px;
$M_SPACING: 10px;
$S_SPACING: 7px;
$XS_SPACING: 4px;

//BORDERS
$M_BORDER_RADIUS: 8px;

// THRESHOLD BETWEEN SIZE CLASSES
$CLAMP_THRESHOLD: clamp(200px, 90%, 1100px);
$DESKTOP_SIZE_THRESHOLD: 1100px;
$TABLET_SIZE_THRESHOLD: 770px;
$MOBILE_SIZE_THRESHOLD: 480px;