// FONT FAMILIES
$FONT_FAMILY: 'Roboto';

// COLORS
$PRIMARY_COLOR: #767349;
$SECONDARY_COLOR: #000000;
$TERTIARY_COLOR: #7A7A7A;
$WHITE_COLOR: #d0d1d5;

// FONTS
$XXL_FONT_SIZE: 30px;
$XL_FONT_SIZE: 22px;
$L_FONT_SIZE: 18px;
$M_FONT_SIZE: 16px;
$S_FONT_SIZE: 14px;

// FONT WEIGHTS
$BOLDER: bolder;
$BOLD: bold;

// HEIGHTS
$M_HEIGHT: 50px;