@use '/styles/abstracts/' as *;

.wrap {
  box-sizing: border-box;
  display: flex;
  font-size: $M_FONT_SIZE;
  padding: $S_SPACING;
  width: 100%;
}

.select {
  background-color: transparent;
  border: none;
  color: white;
  font-size: $M_FONT_SIZE;
  cursor: pointer;
  margin-right: $S_SPACING;
}